<div class="flex flex-row justify-between items-center p-3 mx-auto max-w-5xl text-gray-100 font-light uppercase tracking-wide">

  <!-- left -->
  <a href="#" class="hover:text-pink-600">
    <img class="h-16 w-16" src="img/rodgers-gear-icon.svg" alt="Rodgers Auto Repair" />
  </a>
  <!-- ./left -->

  <!-- right -->
  <nav class="space-x-2 md:space-x-4 whitespace-nowrap overflow-hidden">
    <a href="#" class="hover:text-pink-600">Services</a>
    <a href="#" class="hover:text-pink-600">Gallery</a>
    <a href="#" class="hover:text-pink-600">About</a>
    <a href="#" class="hover:text-pink-600">Contact</a>
  </nav>
  <!-- ./right -->

</div>
