<main>
  Root #index
  <!-- hero -->
  <%#= partial "shared/_hero" %>
  <!-- ./hero -->

  <!-- features -->
  <%#= partial "shared/_features" %>
  <!-- ./features -->

  <!-- services -->
  <%#= partial "shared/_services", services: page_info[:services] %>
  <!-- ./services -->

  <!-- testimonials -->
  <%#= partial "shared/_testimonials" %>
  <!-- ./testimonials -->

  <!-- social-proof -->
  <%#= partial "shared/_social-proof" %>
  <!-- ./social-proof -->

  <!-- gallery -->
  <%#= partial "shared/_gallery", photos: page_info[:photos] %>
  <!-- ./gallery -->

  <!-- about -->
  <%#= partial "shared/_about", about: page_info[:about] %>
  <!-- ./about -->

  <!-- about -->
  <%#= partial "shared/_contact", contact: page_info[:contact] %>
  <!-- ./about -->
</main>
