
<div class="join flex justify-center">
  <button class="join-item btn btn-sm">«</button>
  <button class="join-item btn normal-case btn-sm">1 of 2</button>
  <button class="join-item btn btn-sm">»</button>
</div>

