
<div class="overflow-x-auto">

  <table class="table">
    <thead>
      <tr>
        <th class="text-center text-lg" colspan="2">Title For The Following Table</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <td>metapsj@metapsj.com</td>
      </tr>
      <tr>
        <th>2</th>
        <td>jatrick@pohnson.com</td>
      </tr>
      <tr>
        <th>3</th>
        <td>seven@eight.com</td>
      </tr>
    </tbody>
  </table>

</div>
