
<div class="lg prose">
  <h1>
    Views::User #index
  </h1>

  <div>
    <%= partial "users/_search" %>
  </div>

  <div>
    <%= partial "users/_table" %>
  </div>

  <div>
    <%= partial "users/_pagination" %>
  </div>
</div>
